<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>ETC后台管理系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="header :: header"></div>
    <div th:include="menu :: menu"></div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <img src="/static/img/2.jpg" style="width: 1200px;height: 520px">
    </div>
    <div th:include="footer :: footer"></div>
</div>
</body>
<script src="/static/layui/layui.js"></script>
<script th:inline="none">
    //element 展示左边菜单栏
    layui.use('element', function () {
        var element = layui.element;
    });
</script>
</html>