<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>错误页面</title>
</head>
<body>
请输入保险订单信息
<button onclick="pay()">立即支付</button>
</body>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    function pay() {
        $.ajax({
            url: '/h5/policy/pay',
            type: 'get',
            data: '',
            dataType: 'json',
            success: function (data) {
                alert("成功了");
                var param = data.data;
                window.location = "https://syb.allinpay.com/apiweb/h5unionpay/unionorder" + param;
            },
            error: function (data) {
                alert("出错了");
            }
        })
    }

</script>
</html>