<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>错误页面</title>
</head>
<body>
请输入保险订单信息
<button onclick="pay()">立即支付</button>
</body>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    function pay() {
        window.location = "https://syb.allinpay.com/apiweb/h5unionpay/unionorder?appid=00000003&amp;body=谭光&amp;charset=utf-8&amp;cusid=990440148166000&amp;key=a0ea3fa20dbd7bb4d5abf1d59d63bae8&amp;notify_url=www.baidu.com&amp;randomstr=1556023871750&amp;reqsn=shlh110222&amp;returl=www.baidu.com&amp;trxamt=1&amp;version=12"
    }

</script>
</html>